<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title></title>
     <!-- <link rel="stylesheet" href="/css/app.css"> -->
 </head>
   <body>
     <h1>Welcome To The Tall ones</h1>
       <nav>
        <ul>
          <li><a href="/peaks">Index Of Peaks</a></li>

        </ul>

      </nav>
   </body>
</html>
